<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="params"
		label="COM_TSJ_CONFIG_GREETING_SETTINGS_LABEL"
		description="COM_TSJ_CONFIG_GREETING_SETTINGS_DESC" 
    >
		<field
			name="show_rows_water"
			type="checkboxes"
         multiple="yes"
			label="COM_TSJ_TSJ_FIELD_SHOW_CATEGORY_LABEL"
			description="COM_TSJ_TSJ_FIELD_SHOW_CATEGORY_DESC" 
         message="message"
      >
		   <option value="0">Серийные номера счетчиков</option>
         <option value="1">Расход воды</option>
      </field>
      <field
            name="startDay"
            type="integer"
            first="1"
            last="31"
            step="1"
            default="1"
            label="День начала сдачи показаний"
            description="День с которого включительно становиться доступна система ввода показаний счетчиков воды"
            filter="integer"
      />
      <field
            name="stopDay"
            type="integer"
            first="1"
            last="31"
            step="1"
            default="5"
            label="День окончания сдачи показаний"
            description="Последний день сдачи показаний, после которого система ввода показаний счетчиков воды становиться не доступной"
            filter="integer"
      />
      <field
            name="linksn"
            type="test"
            default=""
            label="Страница ввода серийных номеров счетчиков воды"
            description="Короткая ссылка на страницу ввода серийных номеров счетчиков воды"
      />
   </fieldset>
   
	<fieldset
		name="params1"
		label="COM_TSJ_CONFIG_GREETING_SETTINGS_LABEL1"
		description="COM_TSJ_CONFIG_GREETING_SETTINGS_DESC1" 
    >
      <field name="prefix_text" label="COM_TSJ_CONFIG_GREETING_LABEL" type="editor" width="300" filter="safehtml" />
	</fieldset>
	
</config>